<h3><%= 'User Profile'[] %></h3>

<p>
  <label for="display_name"><%= 'Display Name'[:display_name_title] %></label><br />
  <%= settings.text_field :display_name %>
</p>

<p>
  <label for="user_openid_url"><%= 'Identity Url'[:openid_url_title] %></label><br />
  <p class="help"><%= 'Enter your OpenID Identity Url if you know it'[:open_id_field ]%>.</p>
  <%= settings.text_field :openid_url %>
</p>

<p>
  <label for="user_website"><%= 'Website'[:website_title] %></label><br />
  <%= settings.text_field :website %> 
	<span class="entryhelp">
	(<%= 'without http://'[:without_http] %>)
	</span>
</p>

<p>
  <label for="user_bio"><%= 'Bio'[:bio_title] %></label><br />
  <%= settings.text_area :bio, :rows => 10, :style => "width:99%" %>
</p>
