<p class="help"><%= 'Logins should start with least 2 characters and may consist of letters, numbers, or the underscore.'[:login_field] %></p>

<p>
  <label for="user_login"><%= 'Login'[:login_title] %></label><br />
  <%= form.text_field :login, :onkeypress => 'LoginForm.checkLogin(this)' %>
</p>

<p>
  <label for="user_email"><%= 'Email'[:email_title] %></label><br />
  <%= form.text_field :email %>
</p>

<p>
  <p class="help">
    <%= 'Enter your OpenID Identity Url if you know it.'[:open_id_field_extended] %>
  </p>
  <label for="user_openid_url"><%= 'Identity Url'[:openid_url_title] %></label><br />
  <%= form.text_field :openid_url %>
</p>

<p>
  <label for="display_name"><%= 'Display Name (optional)'[:display_name_title] %></label><br />
  <%= form.text_field :display_name %>
</p>

<div id="password_fields">
	  <label for="user_password"><%= 'Password'[:password_title] %></label><br />
	<p class="help"><%= 'Enter your desired password twice.  It must be at least 5 characters.'[:password_field] %></span></p>

  <%= form.password_field :password %>
<span class="entryhelp">(<%= 'once'[] %>)</span><br />
  <%= form.password_field :password_confirmation %>
<span class="entryhelp">(<%= 'and then again'[] %>)</span>
  <%= hidden_field_tag :to, params[:to] unless params[:to].blank? %>
</div>